HORIZEN_TESTNET_RPC_URL=https://horizen-testnet.rpc.caldera.xyz/http
PRIVATE_KEY=
MM_ORACLE_ADDRESS=
MM_ETH_ANCHOR=3500
MM_BTC_ANCHOR=110000
MM_ORACLE_INTERVAL_MS=15000
MM_MARKET=ETH
MM_ANCHOR_PRICE=
MM_INTERVAL_MS=1250
